.Notifications {
  border: 2px dashed #e1003c;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.Notifications p {
  margin: 0 0 0.5rem 0;
}

.Notifications ul {
  list-style-position: inside;
  padding-left: 0;
}
