@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-roboto: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  }

  html, body {
    font-family: var(--font-roboto);
  }
}
